{#{% extends 'admin/base-admin.html.twig' %}#}
{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">DashBoard</li>
        </ol>
    </nav>


    <div>
        <a href="{{ path('app_admin_user_list') }}">Gérer les utilisateurs</a><br>
        <a href="{{ path('app_admin_sortie_list') }}">Gérer les sorties</a><br>
        <a href="{{ path('app_admin_campus_list') }}">Gérer les campus</a><br>
        <a href="{{ path('app_admin_ville_list') }}">Gérer les villes</a>
    </div>

{% endblock %}
