{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <div style="margin-bottom: 40px">
        <a>Dashboard</a>
    </div>


    <div>
        <a href="{{ path('app_admin_user_list') }}">Gérer les utilisateurs</a><br>
        <a href="{{ path('app_admin_sortie_list') }}">Gérer les sorties</a>
    </div>


{% endblock %}
