{% extends 'base.html.twig' %}

{% block title %}Accueil - Sortir.com{% endblock %}

{% block body %}
    <h1>Succès ! ✅</h1>
    <p>Ton contrôleur et ton template sont maintenant liés.</p>
{% endblock %}